[package]
name = "reflect"
version = "0.0.3"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT/Apache-2.0"
description = "The \"but I thought Rust doesn't have reflection?\" memorial brand new way of defining procedural macros."
repository = "https://github.com/dtolnay/reflect"
documentation = "https://docs.rs/reflect"
keywords = ["reflection"]
categories = ["development-tools::procedural-macro-helpers"]
readme = "README.md"
edition = "2018"

[badges]
travis-ci = { repository = "dtolnay/reflect" }

[dependencies]
proc-macro2 = "0.4"
quote = "0.6"
ref-cast = "0.2"
reflect-internal = { version = "0.0.3", path = "macros" }
syn = "0.15"

[workspace]
members = ["macros"]
