[package]
name = "reflect-internal"
version = "0.0.3"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Procedural macros required by the `reflect` crate."
repository = "https://github.com/dtolnay/reflect"
edition = "2018"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "0.4"
quote = "0.6"
syn = "0.15"
